#mainMenu .active .nav-link {
    cursor: default;
}

#mainMenu {
    margin-bottom: 40px;
    font-size: 25px;
}

.card-header {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.auto {
    text-align: center;
}

#auto {
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h4 {
    text-align: left;
}

#bottauto {
    color: white;
}

#header {
    font-size: 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.row {
    margin: 0px;
}

#lista {
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}