/** {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: o;
}


body {
    background-image: url(../img/Breaking-Bad.jpg);
}


img {
    width: 100%;
    max-width: 900px;
    height: auto;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
}

header {
    margin-bottom: 40px;
}




form {
    border: 1px solid green;
    padding: 40px 30px;
    border-radius: 20px;
}

form label {
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 1000;
}

.box {
    border: 2px solid red;
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

#grid {
    margin-top: 40 px;
}

.formitem {
    margin-bottom: 20px;
}

.formitem input,
.formitem select {
    width: 70%;
    padding: 5px;
}

.button {
    border: 2px solid green;
    background-color: #ff0000d3;
    padding: 8px 5px;
    color: white;
    border-radius: 10px;
    width: 900px;
    transition: background-color 2s ease-in-out;
}

.button1 {
    border: 2px solid green;
    background-color: #00ffea;
    padding: 8px 5px;
    color: yellow;
    border-radius: 10px;
    width: 900px;
    transition: background-color 2s ease-in-out;
}

.button:hover {
    background-color: green;
    color: black;
}

.button1:hover {
    background-color: green;
    color: black;
}

@media(max-width: 600px) {
    body {
        background-color: red;
        transition: background-color 2s ease-in-out;
    }
    .button,
    .button1 {
        width: 500px;
        transition: width 2s;
        background-color: blue;
    }
}
*/